<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <section class="backround">
        <video src="static/image/phone.mp4" loop muted autoplay playsinline></video>
    </section>
    <section class="text_box">
        <h1>It's a special day for me</h1>
    </section>
    <section class="link">
        <h1><a href="templates/link.html">Enter the day</a></h1>
    </section>
    <section class="video">
        <video src="static/image/videoplayback.mp4" loop autoplay></video>
    </section>
</body>
</html>
